<%- include('partials/header-auth.ejs') %>

<main>

    <div class="main-heading">
        <span style="color: #4D2557; font-weight: bold;">BOOK</span><span
            style="color: #D886AF; font-weight: regular;">BLOG</span>
    </div>
    <hr style="margin-bottom: 20px;">
    <div class="main-body">
        <div class="newpost-area">
            <a href="/create"><button type="button" class="signin-buttons main-page-button"
                    style="margin: 10px 0px;">Write your own reviews!</button></a>
        </div>
        <div class="line-class-myposts hide-when-mob">
            <hr style="margin: 20px 0px;">
        </div>
        <hr style="margin: 20px 0px; width: 100%;" class="hide-when-full">
        <div class="main-center">
            <p style="margin-top: 0px;">

                Welcome to BookBlog, a digital haven for all the bibliophiles and wordsmiths out there! At BookBlog, we
                believe that every book deserves to be celebrated, critiqued, and shared. Whether you're a passionate
                reader, an aspiring critic, or someone who simply enjoys the magic of storytelling, our platform is
                designed
                to be your literary companion.
            </p>

            <p>
                Our mission at BookBlog is to provide a space where you can articulate your thoughts on the books that
                have
                left a mark on your heart and mind. We understand that reading is a deeply personal experience, and your
                perspective matters. That's why we empower you to craft detailed and insightful book reviews that
                capture
                the essence of your literary journey. Whether it's the intricate plot twists, the depth of character
                development, or the profound themes that resonate with you, BookBlog is the canvas for expressing your
                unique take on the written word.
            </p>

            <p>
                Beyond being a platform for individual expression, BookBlog thrives on the strength of its community. We
                believe in the power of shared experiences and the joy of discovering new books through the
                recommendations
                of fellow readers. By rating and recommending the books you've read, you contribute to a collective pool
                of
                knowledge that guides others in their reading choices. BookBlog is not just a website; it's a vibrant
                community where book enthusiasts from around the world come together to exchange ideas, engage in
                discussions, and expand their literary horizons.
            </p>

            <p>
                At the heart of BookBlog is the idea that literature is dynamic, and so are your opinions. We understand
                that your relationship with a book can evolve over time. That's why BookBlog allows you to update and
                edit
                your reviews, ensuring that your thoughts accurately reflect your current perspective. We respect your
                autonomy, giving you the freedom to delete reviews if you ever feel the need to do so. Your literary
                journey
                is personal, and BookBlog is here to support your growth as a reader and reviewer.
            </p>

            <p>
                Join us at BookBlog and become part of a global community that celebrates the written word. Our
                user-friendly interface ensures that navigating the platform is a seamless experience, allowing you to
                focus
                on what matters most – sharing your love for books. Whether you're into classic literature, contemporary
                bestsellers, or niche genres, BookBlog embraces the diverse tastes of its members. Your reading
                preferences
                and personal information are secure with us, allowing you to enjoy the platform with the peace of mind
                that
                your literary adventures are your own.
            </p>

            <p>
                BookBlog is more than just a platform; it's a celebration of the literary world and the people who make
                it
                vibrant. We invite you to join our community, connect with like-minded individuals, and embark on a
                journey
                of literary exploration. Your next favorite book and countless meaningful connections await you at
                BookBlog.
                Happy reading!
            </p>
        </div>

        <div class="main-right">
            <h4 style="margin-top: 0px; margin-bottom: 8px;"><span style="color: #4D2557; font-weight: bold;">LATEST
                    REVIEWS ON BOOK</span><span style="color: #D886AF; font-weight: regular;">BLOG</span></h4>
            <hr style="opacity: 15%;">
            <% let num = 1 %>
            <% data.forEach(review => { %>
            <form action="/view" class="reviews-form" id="<%= num %>-post-filter-form" method="POST">
                <input type="hidden" value="<%= JSON.stringify(review) %>" name="post" />
                <p class="latest-reviews"><span id="<%=num%>-title"><%= review.title %></span></p>
            </form>
            <% num++ %>
            <% }) %>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

<script>
    for(let i = 1; i <= <%= data.length %>; i++) {
        $(".latest-reviews>#" + i + "-title").on("click", () => {
            $("#" + i + "-post-filter-form").submit();
        })
    }

</script>

<%- include('partials/footer-auth.ejs') %>